<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Passowrd</title>
  </head>
  <body>
    <center>
    <h2>Hello {{USERNAME}}</h2>
    <p>Please click on the below link to reset the password</p>
    <p>The reset link is valid for 30 minutes</p>
    <a href="{{RESETURL}}" target="_blank">
        <button
          style="
            background: #5da7db;
            border: none;
            color: white;
            cursor: pointer;
            height: 50px;
            width: 280px;
            border-radius: 5px;
            margin-left: 20px;
            font-weight: 800;
            font-size: medium;
          "
        >
          Reset your password
        </button>
      </a>
    <p>Regards</p>
  </center>
  </body>
</html>
