<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Changed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <center>
      <div style="width: 350px">
        <br />
        <div style="text-align: center">
          <p style="text-align: left">Hi {{NAME}},</p>
          <p style="text-align: left">
            This is a confirmation that the password for your account {{EMAIL}}
            has just been changed.
          </p>
          <br />
        </div>

        <footer></footer>
      </div>
    </center>
  </body>
</html>
